a {
    color: inherit;
}

/* to keep same color at hover without set it precisely */
a:hover {
    color: inherit;
}

.wrapper {
    display: flex;
}

#left, #right {
    width: 50%;
}

#left {
    /* for div tag itself*/
    background-image: url(../images/student.jpg);
    /* vh and vw : viewport height / width
    height and width of display available */
    height: 100vh; 
    background-size: cover;
    background-position: center;
    padding: 2em 2em 1em;

    /* for content of div tag */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}

h1 {
    background-image: url(../images/onews.svg);
    background-repeat: no-repeat;
    background-size: 1.3em;
    background-position: 0 7px;
    text-transform: uppercase;
    font-weight: 700;
    width: 7em;
    padding-left: 1.7em;
    line-height: 1em;
    align-self: flex-start;
}

#left-message {
    text-align: right;
    padding: 1em 6% 1em 19%;
    background-color: rgba(155, 155, 155, .3);
    text-shadow: 0 0 4px #333; 
}

#left-message span {
    font-size: .5em;
    font-weight: 400;
    font-style: italic;
}

#left-message p {
    font-size: .8em;
    font-weight: 500;
}

nav a {
    margin-left: 2em;
    text-shadow: 0 0 4px #333; 
}

#right {
    background-color: #f9f9f9;
}

#right header {
    padding: 1em 2em;
}

#posts {
    display: flex;
    flex-wrap: wrap;
}

.post {
    width: 50%;
    background-color: white;
    padding: 1.2em;
    border: 1px solid #eaeaea;
    border-left: none;
    border-top: none;
}

.badge {
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px 6px;
    border-radius: 3px;
    background-color: #666;
    color: white;
}

.badge:hover{
    color: #999;
    text-decoration: none;
    background-color: white;
    border: 1px solid #999;
}

.post-news .badge {
    background-color: #98DC62;
}

.post-work .badge {
    background-color: #0766F0;
}

.post-team .badge {
    background-color: #DC5E53;
}

.post-sport .badge {
    background-color: purple;
}

.meta {
    font-size: 0.8em;
    margin: 1em 0;
}
.meta-icon {
    width: 2em;
    margin-right: 10px;
}

.meta-date {
    color: #999;
}

.post .read {
    font-weight: bold;
    text-decoration: underline;
} 